.firstBlock
{
    background:#212011  !important;
  
}
.secondBlock
{
    background-color: #F8E606 ;
}
.img {
    transform:scale(1, 1);
    transition: 1s;

    
} 
.img:hover {
    transform:scale(.9, .9);
}