
.childComponent{
  margin-top: 58px;
  height: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.logo2
{
  height: 40px;
  width: 50px;
  border-radius: 30px;
}
.Dropdown
{
  background-color: white;
  color: white;
}
.spin {
  text-align: center;
  background: transparent;
  border-radius: 4px;
  margin-top: 20%;
  margin-bottom: 20px;
  padding: 30px 50px;
}
.auto-index td:first-child:before
{
  counter-increment: Serial; 
  content:  counter(Serial); 
}